* {
	box-sizing: border-box;
}

.map { display: none; }

.c-slider {
	display: flex;
	background: rgb(225, 225, 225);
	border-width: 10px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-image: initial;
    box-sizing: border-box;
	height: 100vh;
	position: relative;
	&__slide { width: 100%; }
}

.c-slider__container {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}


.header__logo {
	img { width: 120px; }
}

.country-info-visible {
	// transform: translateX(0%);
	.wrapper {
		left: 80%;
	}
	.country-info {
		width: 100%;
	}
}

.twitter-visible {
	.wrapper {
		left: -90%; 
	}
	.twitter {
		width: 90%;
	}
}

.about {
	height: 100%;
	text-align: center;
	&__text {
		width: 100%;
	}
}

.take-action {
	height: 80%;
	align-items: center;
	overflow-y: scroll;
	margin: 0;
	padding: 30px 0;

	&__action {
		margin: 0;
		padding-bottom: 20px 0;
	}
	&__title {
		font-size: 1.5em;
		padding-bottom: 5px;
		margin: 0;
	}
	&__text {
		font-size: 1em;
		line-height: 1.25em;
		margin-bottom: 15px;
		padding: 0;
	}
	&__icon {
		width: 50px;
		margin: 15px;
	}
}

.action-visible {
	.wrapper {
		top: 90vh;
	}
}