body {
	margin: 0;
	overflow: hidden;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: absolute;
	width: 100%;
	&__logo {
		margin: 0;
		padding: 15px;
	}
}


.navigation {
	width: 50%;
	&__list {
		display: flex;
		font-size: 1.25em;
		justify-content: space-around;
		list-style: none;
		margin: 0;
		padding: 5px 0;
		text-transform: uppercase;
	}
}

.map {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
	height: 100vh;
	width: 100%;
	#mySvg {
		width: 70%;
	}
}


.country-info {
	background: #fff;
	box-shadow: 0 0 20px #666;
	height: 100vh;
	padding: 1em;
	position: absolute;
	overflow: scroll;
	top: 0;
	// transform: translateX(-110%);
	transition: 400ms all ease-in;
	width: 40%;
	z-index: -10;
	&__ranking-number {
		font-size: 5em;
	}
}

.about {
	background: #fff;
	display: flex;
	flex-direction: column;
	font-family: 'Lato', sans-serif;
	height: 50%;
	padding: 1em;
	position: absolute;
	top: 0;
	// transform: translateY(-110%);
	transition: 400ms all ease-in;
	z-index: -10;
	&__title {
		font-size: 2em;
		font-weight: 300;
		margin: 0;
		padding: 5px 0;
		text-transform: uppercase;
	}
	&__text {
		font-size: 1.12em;
		line-height: 1.25em;
		margin: 0;
		width: 70%;
	}
}

.take-action {
	background: #fff;
	align-items: flex-start;
	box-shadow: 0 0 20px #666;
	display: flex;
	flex-wrap: wrap;
	height: 50vh;
	padding: 1em;
	position: absolute;
	text-align: center;
	top: 0;
	// transform: translateY(-110%);
	transition: 400ms all ease-in;
	z-index: -10;

	&__action {
		font-family: 'Lato', sans-serif;
		font-weight: 300;
		padding: 0 2em;
		flex: 1 0 230px
	}
	&__title {
		font-weight: 300;
		font-size: 2em;
		margin: 0;
	}
	&__text {
		font-size: 1.12em;
		line-height: 1.25em;
		margin: 0;
		padding: 0 0 20px 0;
	}
	&__icon {
		width: 80px;
		padding: 15px 0 15px 0;
	}
}

.twitter {
	background: #fff;
	height: 100vh;
	position: absolute;
	top: 0;
	right: 0;
	transition: 400ms all ease-in;
	overflow: scroll;
	width: 40%;
	z-index: -9;

	&__tweets {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	&__title {
		padding: 1em 0 0 1em;
		margin: 0;
	}

	&__tweet {
		padding: 1em;
		border-bottom: 1px solid #333;
	}

	&__text {
		margin-top: 0;
	}
}

.cta {
	background: #b90102;
	border: 0;
	box-sizing: border-box;
	color: #fff;
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	font-size: 1.25em;
	width: 150px;
	padding: 7px;
}

.footer {
	bottom: 0;
	position: absolute;
	width: 100%;
}

.ranking-categories {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	display: flex;
	justify-content: space-around;
	list-style: none;
	width: 50%;
}

.country-info-visible {
	// transform: translateX(0%);
	.wrapper {
		left: 40%;
		box-shadow: 2px 0px 20px 0px rgba(0,0,0,0.75);
	}
}

g path {
	transition: 400ms all;
}

.wrapper {
	background: #fff;
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	transition: 400ms all;
}

.search-box {
	background: grey;
	display: none;
	padding: 5em;
	z-index: -10;

	input {
		width: 100%;
		font-size: 3em;
		padding: .2em;
		opacity: 0;
		transform: scale(.5);
		transition: 600ms all;
	}
}

.search-visible {
	.wrapper {
		top: 30vh;
	}

	.search-box {
		z-index: -0;
		input {
			box-sizing: border-box;
			opacity: 1;
			transform: scale(1);
		}
		&__autocomplete {
			background: #fff;
			box-shadow: 0 5px 10px 0 #777;
			z-index: 99;
			margin: 0;
			padding: 0;
			list-style: none;
			position: absolute;
			width: 100%;
			top: 0;
		}
		&__item {
			padding: 5px 10px;
			border-bottom: 1px solid #777;
			font-size: 2em;

			span {
				background: yellow;
				font-weight: bold;
			}
		}
	}
}

.twitter-visible {
	.wrapper {
		left: -40%;
		box-shadow: 2px 0px 20px 0px rgba(0,0,0,0.75);
	}
}

.search-result {
	position: relative;

}

.action-visible {
	.wrapper {
		top: 50vh;
		box-shadow: 0px 1px 20px 0px rgba(0,0,0,0.75);
	}

	.take-action {
		z-index: -0;
	}
}

.about-visible {
	.wrapper {
		top: 40vh;
		box-shadow: 0px 1px 20px 0px rgba(0,0,0,0.75);
	}

	.about {
		z-index: -0;
	}
}