.about {
	background: #f4f4f4;
	display: flex;
	flex-direction: column;
	font-family: 'Lato', sans-serif;
	height: 50%;
	opacity: 0;
	padding: 1em;
	position: absolute;
	top: 0;
	transition: 400ms all ease-in;
	z-index: -10;

	&__title {
		font-size: 2em;
		font-weight: 300;
		margin: 0;
		padding: 5px 0;
		text-transform: uppercase;
	}

	&__text {
		font-size: 1.12em;
		line-height: 1.25em;
		margin: 0;
		width: 70%;
	}

}

.about-visible {
	.wrapper { top: 50vh; }
	.about { opacity: 1; }
}
